body {
  margin: 0;
  background-color: #056679;
  font-family: sans-serif;
}

.todo_container {
  width: 350px;
  /* position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%); */
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
h1,h2 {
  margin: 0;
  margin: bottom 15px;
  color: #086b7d;
  padding-bottom: 10px;
}
.input_section {
  background-color: #055565;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 7px 6px #0000003b;
}

.input_section input {
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #08869e;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #055565;
  outline: none;
  color: #08869e;
}
input::placeholder {
  color: #08869e;
}

ul {
  text-align: left;
  padding: 0;
}
ul li {
  display: flex;
  list-style: none;
  background-color: #055565;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #08869e;
  box-shadow: 0 4px 6px #00000066;
}

ul li i {
  flex: 1;
  cursor: pointer;
}
.fa-edit:before {
    padding-left: 250px;
    margin-right: 13px;
}

